@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply px-6
                py-2.5
                bg-orange-500
                border-2
                border-orange-500
                text-white
                font-medium
                text-xs
                leading-tight
                uppercase
                rounded
                shadow-md
                hover:bg-orange-600 hover:shadow-lg hover:border-orange-600
                focus:bg-orange-600 focus:shadow-lg focus:outline-none focus:ring-0 focus:border-orange-600
                active:bg-orange-700 active:shadow-lg active:border-orange-700
                transition-colors
                duration-200
                ease-in-out
                disabled:hover:bg-orange-200 disabled:hover:shadow-md disabled:hover:border-orange-200
                disabled:bg-orange-200 disabled:border-orange-200
    }

    .btn-secondary {
        @apply px-6 border-2 
				border-orange-500 font-bold
				py-2.5
				text-orange-500
				text-xs
				leading-tight
				uppercase
				rounded
				shadow-md
				hover:shadow-lg hover:border-orange-600 hover:bg-black hover:bg-opacity-10 hover:text-orange-600
				focus:bg-black focus:bg-opacity-10 focus:shadow-lg focus:outline-none focus:ring-0
				active:bg-black active:shadow-lg active:bg-opacity-20 active:border-orange-700 active:text-orange-700
				transition
				duration-150
				ease-in-out
                disabled:hover:shadow-md disabled:hover:border-orange-200 disabled:hover:bg-white disabled:hover:text-orange-200
                disabled:border-orange-200 disabled:text-orange-200
    }
}